  <div class="container">
    <% if @player.dice_roll == nil || @player.dice_roll < 0 %>
      <a href="/players/<%= @player.id %>/roll"><span class="btn btn-primary">Roll Dice</span></a>
    <% end %>
    <% @rooms.each do |room| %>
      <% found_room = Space.find_by(coordinates: room) %>
      <% if found_room.player_id == @player.id %>
        <a href="/players/<%= @player.id%>/make_guess"><span class="btn btn-success">Make Guess</span></a>
        <% break %>
      <% end %>
    <% end %>
    <% @final_room.each do |room| %>
      <% found_room = Space.find_by(coordinates: room) %>
      <% if found_room.player_id == @player.id %>
        <a href="/players/<%= @player.id%>/final_guess"><span class="btn btn-warning">Make Final Guess</span></a>
        <% break %>
      <% end %>
    <% end %>
    <a href="/players/<%= @player.id%>/checkcards"><span class="btn btn-success">Check Cards</span></a>
    <a href="/players/<%= @player.id%>/scorecard"><span class="btn btn-primary">Scorecard</span></a>
    <a href="/players/next"><span class = "btn btn-danger">End Turn</span></a>
    <p>Current Player: <%= @player.name %></p>
    <p>Cards in Hand: <%= @cards.count %></p>
    <% if @player.dice_roll == nil || @player.dice_roll < 0  %>
      <p> Moves Left: 0 </p>
    <% else %>
      <p> Moves Left: <%= @player.dice_roll %></p>
    <% end %>
  </div>
